.sidebar {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.MuiAutocomplete-root {
  margin-bottom: 20px;
}

.search-bar .MuiInputBase-root {
  cursor: pointer;
}

.divider {
  margin: 20px 0;
}

.category-item {
  cursor: pointer;
}

.selected {
  background-color: #cfe2ff !important;
  color: black;
}

.MuiListItemText-root {
  text-transform: capitalize;
}
